# Data Preprocessing - Multiple Imputation

##  Load and explore the dataset

In [1]:
# Load the pandas and numpy packages
import pandas as pd
import numpy as np

In [2]:
# Import csv file and save into data
data=pd.read_csv('../data/raw/2022_train.csv')

In [3]:
# Display the first 5 rows of data and all the columns
pd.set_option('max_columns', None)
data.head()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,3799,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,22.6,2.0,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,3800,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,34.9,2.4,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,3801,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,34.3,0.4,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,3802,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,23.7,0.9,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,3803,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,13.7,0.2,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

In [4]:
# Display the summary of columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           8000 non-null   int64
 1   GP           8000 non-null   int64
 2   MIN          8000 non-null   float64
 3   PTS          8000 non-null   float64
 4   FGM          8000 non-null   float64
 5   FGA          8000 non-null   float64
 6   FG%          8000 non-null   float64
 7   3P Made      8000 non-null   float64
 8   3PA          8000 non-null   float64
 9   3P%          8000 non-null   float64
 10  FTM          8000 non-null   float64
 11  FTA          8000 non-null   float64
 12  FT%          8000 non-null   float64
 13  OREB         8000 non-null   float64
 14  DREB         8000 non-null   float64
 15  REB          8000 non-null   float64
 16  AST          8000 non-null   float64
 17  STL          8000 non-null   float64
 18  BLK          8000 non-null   float64
 19  TOV          8000 non-null   float64
 20  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(3)
memory usage: 1.3 MB

Based on the summary above, none of the columns in dataframe has missing values.

In [5]:
# Display the dimensions(shape) of data
data.shape

(8000, 21)

In [6]:
# Display the descriptive statistics
data.describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,7798.50000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,19.583700,1.392525,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,2309.54541,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,16.003155,0.926153,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,3799.00000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,0.000000,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,5798.75000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,8.400000,0.700000,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,7798.50000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,19.500000,1.200000,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,9798.25000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,30.600000,1.900000,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,11798.00000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,8.100000,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

**Unreasonable data based on descriptive summary**
- Games played cannot be negative
- 3P, 3PA and 3P% Made cannot be negative
- FT% can not be negative and cannot be over 100%
- BLK can not be negative

## Data Processing - Imputation

In [35]:
# Create a copy of data and save it into a variable data_cleaned
data_cleaned=data.copy()

In [36]:
# Remove the id column
data_cleaned.drop('Id',axis=1,inplace=True)

In [37]:
# Display the columns with negative values and save these column names into variable col_neg
col_neg=list(data_cleaned.columns[data_cleaned.min()<0])
col_neg

['GP', '3P Made', '3PA', '3P%', 'FT%', 'BLK']

In [38]:
# Replace the negative value with np.nan
for col in col_neg:
    data_cleaned[col] = np.where(data_cleaned[col]<0, np.nan, data_cleaned[col])

In [39]:
# Replace the value where FT%>100 with np.nan
data_cleaned['FT%'] = np.where(data_cleaned['FT%']>100, np.nan, data_cleaned['FT%'])

In [40]:
#Impute the values using scikit-learn  IterativeImputer Class
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [41]:
imp = IterativeImputer(max_iter=50, random_state=0)
imp.fit(data_cleaned)
imputed_data_cleaned=imp.transform(data_cleaned)

In [42]:
# Conver the imputed_data_cleaned into dataframe and add the column names
data_cleaned=pd.DataFrame(imputed_data_cleaned)
data_cleaned.columns=data.columns[1:]

In [43]:
# Display number of rows and columns after data cleansing
data_cleaned.shape

(8000, 20)

In [44]:
# Extract the column 'TARGET_5Yrs' and save it into variable called target
target=data_cleaned.pop('TARGET_5Yrs')

In [45]:
# Import StandardScaler from sklearn.preprocessing and instantiate the StandardScaler
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

In [46]:
# Fit and apply the scaling on data_cleaned
data_cleaned=scaler.fit_transform(data_cleaned)

In [47]:
# Import dump from joblib and save the scaler into the folder models and call the file scaler.joblib
from joblib import dump

dump(scaler, '../models/scaler_imputed.joblib')

['../models/scaler_imputed.joblib']

In [48]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:
# Import function scaler_split_train_test from data.sets
import sys
sys.path.insert(1, '..')
from src.data.sets import split_train_test

In [50]:
# Split the scaler data into training (80%) and validation (20%)
X_train, X_val, y_train, y_val=split_train_test(df=data_cleaned,target=target,test_ratio=0.2)

In [51]:
# Import the function save_sets from sets and save the sets into the folder data/processed
from src.data.sets import save_sets
save_sets(X_train, y_train, X_val, y_val, path='../data/processed/')

In [52]:
# Import the function load_sets from sets and load the sets from data/processed
from src.data.sets import load_sets
X_train, y_train, X_val, y_val, X_test, y_test = load_sets(path='../data/processed/')

## Basic Classification Models with Imputated Data

In [53]:
# Import lazypredict package
import lazypredict

In [54]:
# Import LazyClassifier from lazypredict.Supervised
from lazypredict.Supervised import LazyClassifier

In [55]:
# Fit the Lazyclassifier model based on train set and predict the validation set
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_val, y_train, y_val)

100%|██████████| 29/29 [00:15<00:00,  1.92it/s]

In [56]:
# Print the metrics of classifiers
models

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
BernoulliNB,0.64,0.63,0.68,0.69,0.02
GaussianNB,0.56,0.63,0.69,0.62,0.03
QuadraticDiscriminantAnalysis,0.67,0.61,0.68,0.71,0.04
DecisionTreeClassifier,0.75,0.57,0.57,0.76,0.09
LabelPropagation,0.75,0.54,0.62,0.75,2.36
LabelSpreading,0.75,0.54,0.63,0.75,3.96
KNeighborsClassifier,0.81,0.54,0.61,0.78,0.17
BaggingClassifier,0.80,0.53,0.62,0.77,0.53
ExtraTreeClassifier,0.74,0.52,0.52,0.74,0.02
RandomForestClassifier,0.84,0.52,0.65,0.78,1.27
AdaBoostClassifier,0.84,0.52,0.68,0.78,0.42
LGBMClassifier,0.83,0.52,0.68,0.78,0.23
ExtraTreesClassifier,0.84,0.52,0.67,0.78,0.75
LinearDiscriminantAnalysis,0.84,0.51,0.70,0.78,0.07
XGBClassifier,0.81,0.51,0.62,0.77,0.50
LogisticRegression,0.84,0.51,0.71,0.77,0.09
CalibratedClassifierCV,0.83,0.51,0.70,0.77,1.87
DummyClassifier,0.84,0.50,0.50,0.77,0.02

In [51]:
#  Import dump from joblib and save the fitted model into the folder models as a file called lazypredict_cleaned
from joblib import dump 

dump(clf,  '../models/lazypredict_imputed.joblib')

['../models/lazypredict_imputed.joblib']